{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Signup Form</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'payroll_app/css/home_style.css' %}">
</head>
<body>
    <section class="user">
        <div class="user_options-container">
            <div class="user_options-text">
                <div class="user_options-unregistered">
                    <h2 class="user_unregistered-title">Local Government Payroll</h2>
                    <p class="user_unregistered-text">"Empowering Public Service, One Payslip at a Time."</p>
                </div>
            </div>
            
            <div class="user_options-forms" id="user_options-forms">
                <div class="user_forms-login">
                    <h2 class="forms_title">Login</h2>
                    <form class="forms_form" method="POST" action="{% url 'login' %}">
                        {% csrf_token %}
                        <fieldset class="forms_fieldset">
                            <div class="forms_field">
                                <input type="text" name="username" placeholder="Username" class="forms_field-input" required autofocus />
                            </div>
                            <div class="forms_field">
                                <input type="password" name="password" placeholder="Password" class="forms_field-input" required />
                            </div>
                        </fieldset>
                        <div class="forms_buttons">
                            <button type="button" class="forms_buttons-forgot">Forgot password?</button>
                            <input type="submit" value="Log In" class="forms_buttons-action">
                        </div>
                        {% if messages %}
                        <div class="messages">
                            {% for message in messages %}
                            <p class="error-message">{{ message }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script src="{% static 'payroll_app/js/app.js' %}"></script>
</body>
</html>